<div class="headphone">
<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/k7285u80/headphone/4/3/u/boat-rockerz-370-original-imafpdzhywghfabu.jpeg?q=70" alt=""
     style="width:325px; height: 300px;">
     <h3>boAt Rockerz 370 Bluetooth Headset  (Buoyant Black, On the Ear)</h3>
     <h4>Cost:₹1,184</h4>
     <button>Buy now</button>
</div>

<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/kmz7qfk0/headphone/b/x/t/jblt660ncblk-jbl-original-imagfr89bgzwem7g.jpeg?q=70" alt=""
     style="width:325px; height: 300px;">
     <h3>JBL Tune 660NC Active Noise Cancelling Bluetooth Headset  (Black, On the Ear)</h3>
     <h4>Cost:₹6,999</h4>
     <button>Buy now</button>
</div>

<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/headphone/dynamic/j/g/g/bluedio-t2-plus-red-original-imaekaxkqurrupeh.jpeg?q=70" alt=""
     style="width:325px; height: 300px;">
     <h3>Bluedio T2 Plus Red Bluetooth without Mic Headset  (Red, On the Ear)</h3>
     <h4>Cost:₹4,271</h4>
     <button>Buy now</button>
</div>
</div>