<div class="mobile">
    <div style="width: 18rem;">
        <img src="https://rukminim1.flixcart.com/image/416/416/jsdj8nk0/mobile/5/y/g/samsung-galaxy-s10-sm-g973fzwgins-original-imafdys4hrndgfzm.jpeg?q=70" alt=""
         style="width:150px; height: 300px;">
         <h3>SAMSUNG Galaxy S10 (Prism White, 512 GB)  (8 GB RAM)</h3>
         <h4>Cost:₹71,400</h4>
         <button>Buy now</button>
    </div>

<div style="width: 18rem;">
    <img src="https://www.reliancedigital.in/medias/Redmi-Note-9-Pro-Smartphone-491667252-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxMjEyOTd8aW1hZ2UvanBlZ3xpbWFnZXMvaGU0L2hhNi85MzgwMTU4OTk2NTEwLmpwZ3xlMTM5ZjVmY2U1NDUyNzBhMzY1MWU1NTRiZWMwNjgxM2Y5YzFhZDU3MDUxMTA0NWU3MWYzYTc2YjY0NGJlNjk2" alt=""
     style="width:325px; height: 300px;">
     <h3>Redmi Note 9 Pro Smart Phone 64 GB, 4 GB RAM, Interstellar Black</h3>
     <h4>Cost: ₹16,999</h4>
     <button>Buy now</button>
</div>

<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/kg8avm80/mobile/r/h/z/apple-iphone-12-dummyapplefsn-original-imafwg8dqgncgbcb.jpeg?q=70" alt=""
     style="width:150px; height: 290px;">
     <h3>APPLE iPhone 12 (Black, 64 GB)</h3>
     <h4>Cost: ₹56,999</h4>
     <button>Buy now</button>
</div>
</div>
