<div class="laptop">
<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/ku5ufm80/computer/4/u/k/na-gaming-laptop-dell-original-imag7csr9nqzcrkk.jpeg?q=70" alt=""
     style="width:325px; height: 300px;" >
     <h3>DELL G15 Core i5 10th Gen (8 GB) G15-5510 Gaming Laptop  )</h3>
     <h4>Cost:₹69,690</h4>
     <button>Buy now</button>
</div>

<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/krjjde80/computer/w/j/x/na-thin-and-light-laptop-hp-original-imag5bg7ngmzfkqu.jpeg?q=70" alt=""
     style="width:325px; height: 300px;">
     <h3>HP Pavilion Aero Ryzen 5 Hexa Core 5600U - (16 GB)</h3>
     <h4>Cost:₹67,990</h4>
     <button>Buy now</button>
</div>

<div style="width: 18rem;">
    <img src="https://rukminim1.flixcart.com/image/416/416/ku4ezrk0/computer/y/v/b/na-thin-and-light-laptop-asus-original-imag7bh52qsvjgqh.jpeg?q=70" alt=""
     style="width:325px; height: 300px;">
     <h3>ASUS Core i5 10th Gen - (8 GB)</h3>
     <h4>Cost:₹50,962</h4>
     <button>Buy now</button>
</div>
</div>