.home{
    display: flex;
    width: 1000px;
    height: 400px;
    margin: 100px;
    margin-left: 200px;
    background-color: green;
    justify-content: space-between;
}
h1{
    width: 400px;
    height: 300px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
